<!DOCTYPE html>
<html lang="te" dir="ltr">
	<head>
		<meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="http://localhost:8082/css">
		<title>story</title>
		<title>story</title>
	</head>
    <script>
    
    
    </script>
	<body>
		<center>
            <h1> The hare and the tortoise story </h1>
            <img src="http://localhost:8082/img1" heigth = "300px" width = "300px"> </img>
            <h1>కుందేలు మరియు తాబేలు కథ</h1>
	
        </center>
    <a href="page2"> <button type="button"  class = "next"  >Next page</button></a>
    
		</body>
</html>