<!DOCTYPE html>
<html lang="te" dir="ltr">
	<head>
		<meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="http://localhost:8082/css">
		<title>story</title>
	</head>
    <script>
    
    
    </script>
	<body>
		<center>
            <h1> Never underestimate the weakest opponent. </h1>
            <img src="https://image.shutterstock.com/image-vector/vector-illustration-tortoise-hare-racing-260nw-114990598.jpg" height="300px" width="300px"> </img>
            <h1>బలహీనమైన ప్రత్యర్ధిని తక్కువగా అంచనా వేయకండి. </h1>
	
        </center>
    <a href="page1"> <button type="button"  class = "previous"  >previous page</button></a>
    
		</body>
</html>